<!DOCTYPE html>
<head>
   <title>Skylux Beta Test - Options</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Jquery 2.2.4 -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

   <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<style type="text/css">
body{
   background-color: black;
}
h2{
   font-family: 'Open Sans Condensed', sans-serif;
}
.wrapper {
   text-align: center;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.dropdown{
	text-align:center;
}
.button, .dropdown-menu{
	margin:10px auto
}
.dropdown-menu{
	width:400px; 
	left:50%; 
	margin-left:-200px;
	text-align: center;
}

</style>

<body style="color:white;">
   <div class = "jumbotron text-center"  style="color:black;">
      <img src = "../static/skylux_v2.png" alt = "skylux logo" style = "width:254.46px;height:65px;">
      <p>  <h2> About Us </h2> </p>
   </div>

   <div class = "text-center" style="color:white;">
   <h2> Richard Murray - Client </h2>
   <h2> Geoff Wacker - Hardware </h2>
   <h2> Colton Sundtrom - Hardware </h2>
   <h2> Dannick Liudzius - Software </h2>
   <h2> James Green - Software </h2>
   <h2> Email us at skylux@gmail.com for any questions or support </h2>
   </div>


</body>
</html>

