<!DOCTYPE html>
<head>
	<title>Skylux Beta Test</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Jquery 2.2.4 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

   <script type='text/javascript'>//<![CDATA[ 
   	$(window).load(function(){
   		$(document).ready(function () {
   			$("#on").button();
   			$("#on").click(function () {
   				$(this).button('loading');
   				window.location.href = "/on";
   				setTimeout(function () {
   					$("#on").button('reset').addClass("btn-primary");
   				}, 6000);
   			});
   		});
	});//]]>  
</script>

	<script type='text/javascript'>//<![CDATA[ 
		$(window).load(function(){
			$(document).ready(function () {
				$("#off").button();
				$("#off").click(function () {
					$(this).button('loading');
					window.location.href = "/off";
					setTimeout(function () {
						$("#off").button('reset').addClass("btn-default");
					}, 6000);
				});
			});
	});//]]>  
</script>

</head>

<style type="text/css">
	body{
		background-color: black;
	}
	h2{
		font-family: 'Open Sans Condensed', sans-serif;
	}
	.wrapper {
		text-align: center;
	}
	.btn-space{
		margin-top: 50px;
		margin-bottom: 50px;
	}
</style>

<body style="color:white;">
	<div class = "jumbotron text-center"  style="color:black;">
		<img src = "../static/skylux_v2.png" alt = "skylux logo" style = "width:254.46px;height:65px;">
		<p>  <h2> Main Menu </h2> </p>
	</div>


	<button class="btn btn-block btn-lg btn-primary btn-space" type="button" id="on" data-loading-text="<h2>Opening Skylight...</h2>"><h2>Open Skylight</h2>
	</button>

	<button class="btn btn-block btn-lg btn-default btn-space" type="button" id="off" data-loading-text="<h2>Closing Skylight...</h2>"><h2>Close Skylight</h2>
	</button>
</body>
</html>

