<!DOCTYPE html>
<head>
   <title>Skylux Alpha Test - Raw</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Jquery 2.2.4 -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<style type="text/css">
body{
   background-color: black;
}
h2{
   font-family: 'Open Sans';
}
</style>

<body style="color:white;">
   <div class = "jumbotron text-center"  style="color:black;">
      <img src = "../static/skylux_v2.png" alt = "skylux logo" style = "width:151.5px;height:38.7px;">
      <p>  Main Menu </p>
   </div>
      <a href="/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div></div>
      <a href="/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
</body>
</html>
